.navbar {
  margin-left: 15rem;
  margin-right: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo-links {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  .links {
    display: flex;

    gap: 3rem;
  }
  button {
    border-radius: 1rem;
    font-size: medium;
    font-weight: 400;
    margin-left: 1rem;
  }
  .sign {
    color: black;
    background-color: white;
    border: 1px solid grey;
    width: 6rem;
    height: 4rem;
    font-weight: 500;
  }
  .sign:hover {
    color: blue;
    border: 1px solid blue;
    cursor: pointer;
  }
  .account {
    background-color: black;
    color: white;
    border: blue;
    width: 12rem;
    height: 4rem;
  }
  .account:hover {
    background-color: rgb(22, 97, 238);
    cursor: pointer;
  }
}
.hero {
  display: flex;
  height: 764px;
  width: 80%;
  margin: auto;

  .hero-left {
    margin-left: 10%;
  }

  .motto {
    font-size: 4rem;
    max-width: 40rem;
    display: flex;
    margin-top: 15rem;
    font-family: DM Sans, sans-serif;
    font-weight: bolder;
  }
  .goals {
    max-width: 26rem;
    margin: 2rem 0;
    line-height: 2rem;
  }
  .account {
    background-color: black;
    color: white;
    border: blue;
    width: 12rem;
    height: 3rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: medium;
    font-weight: 400;
    margin: 2rem 0 0;
  }
  .account:hover {
    background-color: rgb(22, 97, 238);
  }
  .download {
    width: 10rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
    padding: 0 1rem;
    border-color: rgba(0, 0, 0, 0.1);
    outline: none;
  }
  .download-buttons {
    display: flex;
    gap: 1rem;
  }
  .download:hover {
    cursor: pointer;
    margin-top: 1.75rem;
  }
  .girly-container {
    margin-top: 8rem;
    margin-left: 5rem;
    height: 35rem;
    width: 23rem;
    border: 3px solid black;
    border-radius: 2rem;
    display: flex;

    align-items: center;
    // background-color: blue;
  }
  .girly {
    margin-left: -3rem;
    position: relative;
    .investify {
      width: 12rem;
      height: 7rem;
      position: absolute;
      top: 75%;
      right: -30%;
    }
    .myrent {
      width: 12rem;
      height: 7rem;
      position: absolute;
      bottom: 50%;
      left: -30%;
    }
  }
}
.goals {
  .security-badge {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
  .badge {
    height: 7rem;
    width: 6rem;
  }
  .security {
    font-size: xx-large;
    font-weight: bolder;
  }
  .security-info {
    max-width: 40rem;
    line-height: 2rem;
  }
  .learn {
    color: #0d60d8;
    border: none;
    background-color: white;
    font-size: medium;
  }
  .learn:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .packages {
    display: flex;
    margin-left: 15rem;
    margin-right: 15rem;
    justify-content: space-between;
    align-items: center;
  }
  .growth {
    max-width: 19rem;
    font-size: 1.2rem;
  }
  .saving {
    background-color: black;
    color: white;
    border: blue;
    width: 10rem;
    height: 3rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: medium;
    font-weight: 400;
    margin: 2rem 0 0;
  }
  .saving:hover {
    background-color: rgb(22, 97, 238);
  }
  .plans {
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px 50px;
    align-items: center;
    padding: 3px;
  }
  .piggybank {
    background-color: rgb(246, 246, 246);
    height: 20rem;
    width: 20rem;
    border-radius: 1rem;
    padding: 2rem;
  }
  .piggybank:hover {
    cursor: pointer;
  }
  .build {
    line-height: 2rem;
  }
  .arrow:hover {
    cursor: pointer;
    margin-left: 0.8rem;
  }
}
.investment {
  width: 2rem;
  height: 10rem;
  margin-left: 15rem;
  margin-top: 2rem;
  background-image: url("https://storage.googleapis.com/piggyvestwebsite/piggywebsite2020/PHOTO_2022_08_02_17_33_57_af95edcdcb/PHOTO_2022_08_02_17_33_57_af95edcdcb.jpg");
  display: flex;
  justify-content: space-between;
  gap: 5rem;

  .investify {
    width: 18rem;
    height: 40rem;
  }
  .right {
    margin: 8rem 2rem;
  }
  .returns {
    background-color: rgb(223, 213, 233);
    color: #8827f0;
    border-radius: 2rem;
    width: 12rem;
    height: 2rem;
    border: none;
    font-weight: bold;
    font-size: medium;
  }
  .access {
    font-weight: bolder;
    font-size: xxx-large;
  }
  .advice {
    width: 27rem;
    line-height: 2rem;
    font-size: large;
  }
  .learn {
    color: #8827f0;
    border: none;
    background-color: white;
    font-size: medium;
    font-weight: 600;
    width: 17rem;
  }
  .learn:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
.ambassador {
  display: flex;
  align-items: center;
  width: 100%;
  .introduce {
    width: 50%;
    padding-left: 15rem;
    padding-top: 4rem;
    background-color: rgb(8, 86, 230);
    margin-top: 30rem;
    height: 25rem;
    color: white;
  }
  .introduction {
    font-size: xxx-large;
    max-width: 23rem;
  }
  .explanation {
    max-width: 27rem;
    font-size: large;
  }
  .button {
    border: none;
    color: white;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
  }
  .button:hover {
    text-decoration: underline;
  }
  .piggy {
    background-image: url("https://storage.googleapis.com/piggyvestwebsite/piggywebsite2020/PHOTO_2022_08_02_17_33_57_af95edcdcb/PHOTO_2022_08_02_17_33_57_af95edcdcb.jpg");
    height: 40rem;
    width: 62%;
    margin-top: 30rem;
  }
}
.review {
  margin-left: 45rem;
  .launch {
    max-width: 26rem;
    font-size: large;
  }

  .account {
    background-color: black;
    color: white;
    border: blue;
    width: 12rem;
    height: 3rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: medium;
    font-weight: 400;
    margin: 2rem 0 0;
  }
  .account:hover {
    background-color: rgb(22, 97, 238);
  }
  .download {
    width: 10rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
    padding: 0 1rem;
    border-color: rgba(0, 0, 0, 0.1);
    outline: none;
  }
  .download-buttons {
    display: flex;
    gap: 1rem;
  }
  .download:hover {
    cursor: pointer;
    margin-top: 1.75rem;
  }
}
.features {
  display: flex;
  align-items: center;
  background-color: rgb(249 249 249);
  width: 100%;
  height: 10rem;
  padding-left: 15rem;
}
.featured {
  font-size: xx-large;
  font-weight: bolder;
}
.newslink {
  height: 2rem;
  width: 10rem;
  padding-left: 8rem;
}
